@import "tailwindcss";
@font-face {
  font-family: "Cormorant Infant";
  src: url("./assets/fonts/CormorantInfant-VariableFont.ttf") format("truetype");
  font-weight: 100 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Color */
  --bg-primary-color: #e8dfd0;;
  --link-bg-color: #2c2c2c;

  --font-primary-color: #2c2c2c;
  --font-secondary-color: #ffffff;

  --primary-button-color: #695757;
  --primary-border-color: #2c2c2c;

  /* Fonts */
  --primary-font-family: "Cormorant Infant";
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

p,h1,h2,h3,h4,h5,h6,li {
  color: var(--font-primary-color);
}


body {
  background: var(--bg-primary-color);
  height: 100vh;
}

